In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('data\data.csv')

In [4]:
data

,Unnamed: 0,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,0,0,0,0,5849,0.0,146.412162,360.0,1.0,1,1
1,1,1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,2,0
2,2,1,1,0,0,1,3000,0.0,66.000000,360.0,1.0,1,1
3,3,1,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,1,1
4,4,1,0,0,0,0,6000,0.0,141.000000,360.0,1.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,609,0,0,0,0,0,2900,0.0,71.000000,360.0,1.0,2,1
610,610,1,1,3,0,0,4106,0.0,40.000000,180.0,1.0,2,1
611,611,1,1,1,0,0,8072,240.0,253.000000,360.0,1.0,1,1
612,612,1,1,2,0,0,7583,0.0,187.000000,360.0,1.0,1,1
613,613,0,0,0,0,1,4583,0.0,133.000000,360.0,0.0,0,0

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [6]:
X = data.drop(['Loan_Status'], axis=1)
y = data['Loan_Status']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [11]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [13]:

models = {
    'LogisticRegression': LogisticRegression(),
    'DecisionTreeClassifier': DecisionTreeClassifier(),
    'RandomForestClassifier': RandomForestClassifier(),
    'SupportVectorClassifier': SVC()
}

trained_model_list = []
model_list = []
r2_list = []
accuracy_list = []

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    # Make Predictions
    y_pred = model.predict(X_test)

    mae, rmse, r2_square = evaluate_model(y_test, y_pred)
    accuracy = accuracy_score(y_test, y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:", rmse)
    print("MAE:", mae)
    print("R2 score:", r2_square * 100)
    print("Accuracy:", accuracy * 100)

    r2_list.append(r2_square)
    accuracy_list.append(accuracy)

    print('=' * 35)
    print('\n')

LogisticRegression
Model Training Performance
RMSE: 0.4026936331284146
MAE: 0.16216216216216217
R2 score: 28.846153846153843
Accuracy: 83.78378378378379
===================================


DecisionTreeClassifier
Model Training Performance
RMSE: 0.5093716319736107
MAE: 0.2594594594594595
R2 score: -13.846153846153841
Accuracy: 74.05405405405405
===================================


RandomForestClassifier
Model Training Performance
RMSE: 0.4026936331284146
MAE: 0.16216216216216217
R2 score: 28.846153846153843
Accuracy: 83.78378378378379
===================================


SupportVectorClassifier
Model Training Performance
RMSE: 0.5927489783638191
MAE: 0.35135135135135137
R2 score: -54.16666666666667
Accuracy: 64.86486486486487
===================================

f:\projects\loan_prediction\venv\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [16]:
max_accuracy_index = accuracy_list.index(max(accuracy_list))
best_model_name = model_list[max_accuracy_index]
best_accuracy = accuracy_list[max_accuracy_index]

print("Model with the highest accuracy:")
print("Model Name:", best_model_name)
print("Accuracy:", best_accuracy)

Model with the highest accuracy:
Model Name: LogisticRegression
Accuracy: 0.8378378378378378